---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Pizzeria Paradiso" description="Prueba las mejores pizzas de Buenos Aires del restaurante del famoso chef Donato de Santis">
	<main>
	
	
	</main>
	</Footer>
</Layout>